---
layout: default
title: Home
name: home
label: home
---

	<div>{% include './pages/home/hero.njk' %} </div>
	<div>{% include './pages/home/skills.njk' %} </div>
	<div>{% include './pages/home/featured-projects.njk' %} </div>
	<div>{% include './pages/home/featured-posts.njk' %} </div>