<div class="kura_tm_topbar">
    <div class="wrapper">
        <div class="topbar_inner">
            <div class="logo">
                <a href="#"><img src="img/logo/dark.png" alt="" /></a>
            </div>
            <div class="menu">
                <div class="list">
                    <ul class="anchor_nav">
                        <li class="current"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/projects/">Projects and Interests</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/resume/">Resume</a></li>
                        <li><a href="/contact/">Contact</a></li>	
                    </ul>
                </div>
                <div class="trigger">
                    <div class="hamburger hamburger--slider">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>